@import "_partials/vars";
@import "_partials/fonts";
@import "_partials/mixins";
.wrapper.create-school{
  background: $theme-white;
  padding-top: 10px;
  .submit-button{
    background-color: $theme-blue;
    color: $theme-white;
  }
  .heading2{
    color: $theme-blue;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    @include font-lato();

  }
  span{
    text-align: center;
  }
  .body-content{
    @include vertical-align();
    @include font-opensans();
  }
.change-input  {
   input{
     box-shadow: none !important;
     outline:none !important;
     -webkit-border-radius:0!important;
     -moz-border-radius: 0!important;
     border-radius:0 !important;
   }
}
}