@import "_partials/vars";
@import "_partials/fonts";
@import "_partials/mixins";

.content{
    height:inherit;
    width: 100%;
}
.wrapper.create-school{
  padding-top: 30px;
  .submit-button{
    background-color: $theme-blue;
    color: $theme-white;
  }
  .heading2{
    color: $theme-blue;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    @include font-lato();

  }
  .heading{
    text-align: center;
  }
  .body-content{
    @include vertical-align();
    @include font-opensans();
  }
.change-input  {
   input{
     box-shadow: none !important;
     outline:none !important;
     -webkit-border-radius:0!important;
     -moz-border-radius: 0!important;
     border-radius:0 !important;
   }
    .submit-button {
	 padding: .85em !important;
     border: 0px;
        border-radius: 0px;
    }
}
  .table-div{
    padding-top: 30px;
  }
  .panel-heading {
    padding: 10px 10px !important;
    background-color: $theme-blue;
  }
}