/**
 * ensures that vertically aligned children don't appear blurry
 */
/**
 * vertically aligns an element
 */
/*
    Keyframes
    Credits: https://gist.github.com/Integralist/3931680
*/
/*
    Transform
    Credits: https://codepen.io/sawmac/pen/qGudy/
*/
/*
    Style placeholder
    Credits: http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
*/
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.wrapper {
  height: 100%; }

.toggle-this {
  left: 0 !important; }

.left, .right {
  padding: 0 !important;
  margin: 0 !important; }

.transition {
  transition: left 250ms;
  transition-timing-function: linear; }

.navbar {
  margin-bottom: 0 !important; }
  .navbar .icon-bar {
    background: #bbb; }
  .navbar .center-things {
    position: relative;
    top: 5%;
    bottom: 5%; }

.left {
  height: 100%;
  transition: 250ms;
  width: 6%;
  float: left; }
  .left button span {
    display: none; }
  .left .sidebar {
    height: inherit;
    background: #242433;
    transition: width 2s, height 4s;
    box-sizing: border-box;
    overflow: auto; }
    .left .sidebar button {
      width: inherit;
      background: none;
      outline: none;
      border: none;
      border-radius: 0; }
    .left .sidebar .col-md-12, .left .sidebar .col-md-6 {
      padding: 0 !important;
      margin: 0 !important; }
    .left .sidebar .active {
      background: #3399FF;
      color: white;
      margin: 0 !important;
      position: relative;
      width: 100%;
      padding-top: 1em;
      padding-bottom: 1em; }
      .left .sidebar .active:hover {
        background: #1a8cff !important; }
    .left .sidebar .sidebar-row, .left .sidebar .logo {
      text-align: left;
      color: white;
      padding: 2.5rem 2rem;
      width: 100%;
      box-shadow: 0px 0px 0px 0.04px #e6e6fc; }
      .left .sidebar .sidebar-row span, .left .sidebar .logo span {
        padding-left: 1em; }
      .left .sidebar .sidebar-row:hover, .left .sidebar .logo:hover {
        background: #2f2f42;
        color: white;
        font-weight: 500; }
    .left .sidebar .logo {
      text-align: center !important;
      padding: 5rem 2rem; }

.right {
  transition: 250ms;
  width: 94%;
  float: left;
  background: white;
  height: 100%; }
  .right .right-nav {
    position: relative;
    width: 100%;
    min-height: 40px;
    box-shadow: 1.2px 0px 0px 0.5px #eee; }
  .right .body-content {
    padding: 2em;
    background: #F7F7FF;
    position: relative;
    overflow: auto; }
    .right .body-content .col-md-3 {
      padding: 1em 1em; }
    .right .body-content .info {
      text-align: center;
      background: white;
      position: relative;
      height: 100%;
      width: 100%;
      padding: 4em;
      box-shadow: 0px 0px 1px 0px #ddd; }

@media (max-width: 767px) {
  .left {
    left: -100%;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 10; }
    .left button img {
      height: 15px !important;
      transition: 250ms; }
    .left button span {
      display: inline-block; }

  .right {
    width: 100%;
    float: left;
    transition: 400ms; } }
@media (min-width: 768px) {
  .hover-right-width {
    width: 75% !important; }

  .hover-left-width {
    width: 25% !important; }
    .hover-left-width button img {
      height: 15px !important;
      transition: 250ms; }
    .hover-left-width button span {
      display: inline-block; } }

/*# sourceMappingURL=dashboard.css.map */
