@import "_partials/vars";
@import "_partials/fonts";
@import "_partials/mixins";


body{
    color: #777;
}

::-webkit-scrollbar{
    display: none;
}

.hide{
display: none;    
    transition: 500ms;
}

.cover-screen-with-this {
    
    height: 100%;
    width: 100%;
    z-index: 999;
    overflow: auto;
    position: fixed;
    
    .closeModal {
	    display: inline;
        right: 0;
        float: right;
        margin: 2em;
        z-index: 9999999;
        position: absolute;
    }

    .blackground{
      z-index: 999;
    overflow: auto;
    position: fixed;
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    }
    
    .modal-overlay{
        opacity: 1 !important;
        position: absolute;
        z-index: 9999;
        width: auto;
        height: auto;
        margin-top: 50px;
        top: 10%;
        bottom: 10%;
        left: 10%;
        right: 10%;
        background: white;
    }


    .treated-query-overlay{
        margin: auto;
        text-align: center;
        opacity: 1 !important;
        position: absolute;
        z-index: 9999;
        width: auto;
        height: auto;
        margin-top: 50px;
        top: 25%;
        bottom: 25%;
        left: 25%;
        right: 25%;

        .treated-content {
	        position: relative;
            top: 50%;
            transform: translateY(-50%);

             button{
            width: 8em;
            margin: .25em;
            display: inline;
            background: white;
            border: 0;
            border-radius: 2px;
            padding: .75em 2em;
            box-shadow: 0px 0px 0px .5px $theme-blue;
            outline: 0;
            }

            .no{
                color: $theme-blue;
            }

            .yes{
                box-shadow: none !important;
                background: $theme-blue;
                color: white;
            }
        }



        @media(max-width: 768px){
        top: 15%;
        bottom: 15%;
        left: 15%;
        right: 15%;

        }
        background: white;
        color: #777;
    }
}

.feedback-body-content {
    overflow: auto;
	min-height: 100% !important;
    background: $theme-white;
    position: absolute;
    width: 94%;
}

@media(max-width: 1038px){
    .feedback-body-content{
        width: 100%;
    }
}

.centered-view{
    overflow: auto;
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 0px;
    top: 5%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: white;
    box-shadow: 0px 0px 5px .1px #eee;

    padding-bottom: 100px;

    .body-section {

        overflow: auto;
        button{
            padding: 0 !important;
        }
        .viewed {
	background: #eee;
        }
        .feedback-row {
            border-bottom: 1px solid #eee;
            overflow: auto;
             
            .borrowFromMe{
                display: inline-block;
                text-align: center;
                padding-top: 1.5em;
                padding-bottom: 1.5em; 
            }

               .serialNo {
                  width: 5%;
                  @extend .borrowFromMe;
                    padding-top: 3.5em !important;
                }
            .SchoolName {
                width: 20%; 
                  @extend .borrowFromMe;
            }
            .excerpt {
                width: 60%;
                @extend .borrowFromMe;
                padding-top: 2em !important;
            }
            .action{ 
                    width: 12%;
                    display: inline-block;
                    padding-top: 1.5em;
                    padding-bottom: 1.5em;
                    text-align: center;
                    margin: auto;
                   
                button{
                    display: inline;
                    min-height: 3.3em;
                    min-width: 3.3em;
                    margin: .25em;
                    display: inline;
                    border: 0;
                    border-radius: 2px;
                    outline: 0;
                    box-shadow: none !important;
                    background: $theme-blue;
                    color: white;

                    i{
                       font-size: 1.4em;
                    }
                }


            }
             
        }
    }
    
    
    @media(max-width: 767px){
       .feedback-row {
       .serialNo, .SchoolName,  .excerpt , .action {
            padding: 1em;
            width: 100% !important;   
            float: left !important;
            text-align: center;
            margin: auto; 
           line-height: 2em;
                   }
           }
    }
}

    .button-switcher-wrapper{
        
        position: absolute;
         //width: 100%; 
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 2rem 3rem;
        background: white;
        box-shadow: 0px -.025px 0px .1px $theme-blue;
       
        .button-switchers {
            
        text-align: center;
            
        button{
            width: 8em;
            margin: .25em;
            display: inline;
            background: white;
            border: 0;
            border-radius: 2px;
            padding: .75em 2em;
            box-shadow: 0px 0px 0px .5px $theme-blue;
            outline: 0;    
            }
            
            .previous{
                color: $theme-blue;
            }
            
            .next{
                box-shadow: none !important;
                background: $theme-blue;
                color: white;
            }
        }

    }
