/* Developed by
* Falua Temitope Oyewole
* Planet Nest
* To overwrite the bootstrap form classes to suite my taste
* 31-05-2017
*/
/**
 * ensures that vertically aligned children don't appear blurry
 */
/**
 * vertically aligns an element
 */
/*
    Keyframes
    Credits: https://gist.github.com/Integralist/3931680
*/
/*
    Transform
    Credits: https://codepen.io/sawmac/pen/qGudy/
*/
/*
    Style placeholder
    Credits: http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
*/
/* Fonts are defined herein */
.manage-wrapper {
  width: 96%;
  margin: 5px auto 0; }
  .manage-wrapper h4 {
    font-size: 1.3em;
    padding-bottom: 5px;
    color: #070600; }
  .manage-wrapper span {
    font-size: 1.5em;
    color: #279AF1;
    font-weight: bold; }

.form-control {
  border-radius: 0px !important;
  box-shadow: none;
  padding: 8px 10px; }

input[type=disabled] {
  background: #F7F7FF; }

.pad {
  padding-top: 4rem; }

.btn {
  border-radius: 0px;
  border: none; }

.btn-primary {
  background: #0AD3FF; }

.btn-success {
  background: #279AF1; }

.btn-danger {
  background: #EA526F; }

.alert {
  padding: 1.32em 1.34em; }

.alert-success {
  color: #279AF1; }

.alert-danger {
  color: #EA526F; }

.fa-trash {
  color: #EA526F; }

.fa-edit {
  color: #279AF1; }

.modal-dialog {
  width: 250px !important;
  position: relative; }

.modal-content {
  border: none;
  border-radius: 0px !important;
  height: 100%; }
